{% extends 'base.html.twig' %}

{% block title %}New Inscriptionevenement{% endblock %}

{% block body %}
    <h1>Create new Inscriptionevenement</h1>

    {{ include('inscriptionevenement/_form.html.twig') }}

    <a href="{{ path('app_inscriptionevenement_index') }}">back to list</a>
{% endblock %}
