<form method="post" action="{{ path('app_feedbackevenement_delete', {'idfeedbackevenement': feedbackevenement.idfeedbackevenement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feedbackevenement.idfeedbackevenement) }}">
    <button class="btn">Delete</button>
</form>
