    <form method="post" action="{{ path('app_abonnement_delete', {'id': abonnement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet abonnement ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnement.id) }}">
        <button class="btn btn-delete btn-custom">
            <i class="fas fa-trash-alt"></i> Supprimer
        </button>
    </form>
