<form method="post" action="{{ path('app_objectif_delete', {'idObjectif': objectif.idObjectif}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet objectif?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectif.idObjectif) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>