<form method="post" action="{{ path('app_depense_delete', {'iddepense': depense.iddepense}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette dépense?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.iddepense) }}">
    <button class="btn"><i class="fas fa-trash" style="color:red"></i></button>
</form>

